@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
a {
  text-decoration: none;
}
/* N   A   V   I   G   A   T   I   O   N */
h1,
p {
  margin: 0;
}
header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 -15px 20px 5px black;
}
#logo {
  font-family: "Cabin Sketch", cursive;
  font-size: 50px;
  padding-bottom: 0.8%;
}
nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
nav div {
  width: 200%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
nav div i {
  font-size: 15px;
}
nav div ul {
  position: absolute;
  line-height: 9vh;
  width: 13vw;
  font-size: 18px;
  margin: 90% 0 0 20%;
  padding-left: 10%;
  box-shadow: 0px 10px 20px -20px;
  overflow: hidden;
  transition: 0.8s ease;
  opacity: 0;
  height: 0;
  background-color: white;
}
nav div:hover ul {
  opacity: 1;
  height: auto;
}
nav div ul li:hover {
  color: rgb(165, 148, 127);
  cursor: pointer;
  z-index: 30;
}
#cart {
  height: 80%;
}
/* S   E   A   R   C   H */
#search_icon {
  height: 50%;
  cursor: pointer;
}
#search_bar {
  position: absolute;
  margin: 3.5% -10%;
  transition: opacity 0.5s ease;
  opacity: 0;
  height: 0;
  width: 0;
  border: none;
  font-size: 20px;
  background-color: rgb(199, 196, 196);
}
#search img:focus ~ #search input {
  opacity: 1;
  height: auto;
  width: auto;
}
/* B   O   D   Y */
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  width: 90vw;
}
/* B   A   N   N   E   R   1 */
#banner1 {
  width: 100vw;
}
/* P   A   G   E   1 */
#page1 {
  height: 80vh;
  background-color: #f2f3f8;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
#page1 img {
  height: 100%;
}
#page1 div {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
#page1 div h1 {
  text-align: center;
  width: 150%;
  font-size: 400%;  font-family: "Playfair Display", serif;

}
#page1 div p {
  font-size: 150%;
  text-align: center;
}
#btn_page1 {
  font-size: 130%;
  width: 50% !important;
  height: 8%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 5px 10px -5px;
  transition: background-color 0.3s ease;
  transition: color 0.2s ease;
}
#btn_page1:hover {
  background-color: #a06b6b;
  color: white;
  border: none;
  box-shadow: 0px 0px 20px 5px #a06b6b;
}
/* P   A   G   E   2 */
#page2 {
  display: flex;
  height: 80vh;
  align-items: center;
  background-image: url(./assets/gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
#page2 div {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  margin-left: 8%;
  padding-left: 2%;
  backdrop-filter: blur(7px);
}
#page2 div h1 {
  font-size: 500%;
}
#page2 div p {
  font-size: 150%;
  padding-right: 10%;
}
#btn_page2 {
  font-size: 100%;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: 1px solid rgb(177, 137, 137);
  border-radius: 10px;
}
#btn_page2:hover {
  background-color: rgb(177, 137, 137);
}
/* B   A   N   N   E   R   2 */
#banner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 18vh;
  width: 100vw;
  background-color: #756d6d;
  color: white;
  font-size: x-small;
}
#banner2 div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
#banner2 strong {
  font-weight: 500;
  text-decoration: underline;
}
/* B   A   N   N   E   R   3 */
#banner3 {
  margin-top: 3%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#banner3 h1 {
  text-align: center;
  font-size: 350%;
}
#banner3 h6 {
  text-align: center;
  font-size: 150%;
}
#top_banner3,
#bottom_banner3 {
  width: 70vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;

  position: relative;
}
#tshirt {
  width: 60%;
  background: url(./assets/1.jpg);
  background-size: cover;
}
#collections {
  width: 39%;
  background-image: url(./assets/2.jpg);
}
#new_arrivals {
  width: 39%;
  background-image: url(./assets/3.jpg);
}
#trendy {
  width: 60%;
  background-image: url(./assets/4.jpg);
}
.category {
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.category h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  transition: 0.5s ease;
  margin-top: 25vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.sub_content {
  text-align: center;
  margin-top: 50vh;
  font-size: 26px;
  transition: 0.6s ease;
  color: white;
}
.sub_content p {
  padding-top: 20vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.233);
  height: 50vh;
}
.category:hover h2 {
  margin-top: 0vh;
  padding-top: 10vh;
}
.category:hover .sub_content {
  margin-top: 0vh;
}
/* B   A   N   N   E   R   4 */
#banner4 {
  margin-top: 3%;
}
#top_banner4 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 22vh;
}
#logo_collection {
  align-self: center;
}
#logo_collection h1 {
  text-align: center;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  line-height: 60%;
  margin-right: 25%;
  align-self: center;
}

.left {
  position: relative;
  transform: translatex(-300px);
  opacity: 0;
  transition: 1s all ease;
}
.right {
  align-self: flex-end;
  position: relative;
  transform: translatex(300px);
  opacity: 0;
  transition: 1s all ease;
}
.slideIn.active {
  transform: translatex(0);
  opacity: 1;
}
.product_top p {
  font-size: 15px;
  margin: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.product_item {
  width: 285px;
  height: 500px;
  position: relative;
}

.product_item img {
  width: 100%;
  height: 395px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.product_item img:hover {
  transform: scale(1.05);
}
ul.products_trending {
  display: flex;
  margin-top: 3%;
}
ul.products_trending li {
  flex-basis: 25%;
  list-style: none;
}
/* B   A   N   N   E   R   5 */
#banner5 {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
#banner5 main {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-flow: column;
  width: 45%;
}
#banner5 p {
  font-size: 18px;
}
#banner5 h1 {
  font-size: 37px;
  padding-bottom: 5px;
  font-weight: 800;
  letter-spacing: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
#banner5 a {
  background-color: red;
  color: white;
  width: 30%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  padding: 2.5% 0;
  border-radius: 25px;
  transition: 0.5s ease;
}
#banner5 a:hover {
  background-color: black;
}
/* B   A   N   N   E   R   6 */
#footer_sale {
  width: 100%;
  z-index: 1;
  padding: 10px 100px;
  height: auto;
  display: block;
}
.img__left__sale {
  background-image: url(/Image/pexels-yelena-odintsova-14579191.jpg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
#sale_shop {
  height: 100vh;
}

.ig__shop {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.photo-gallery {
  display: flex;
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
