@import url("https:fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Cormorant+Upright:wght@300;400;500;600;700&family=Noto+Sans+JP:wght@400;500;600;700;767;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cherry Bomb One", cursive;
  font-family: "Cormorant Upright", serif;
  font-family: "Noto Sans JP", sans-serif;
}
html {
  scroll-behavior: smooth;
}
#backtop {
  position: fixed;
  width: 54px;
  height: 48px;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  display: flex;
  justify-content: center;
  z-index: 2;
}
/* #wrap {
  width: 100%;
  position: relative;
  height: 100vh;
}
.main__menu {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  background-color: #fff;
  opacity: 0.9;
  padding: 45px 250px;
  z-index: 99;
} */
/* .main_menu .logo_top {
    font-size: 40px;
    font-weight: 800;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
  } */
/* nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
  display: inline-block;
}
nav ul li a {
  position: relative;
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.6s;
  text-transform: uppercase;
} */
a::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
/* .main__menu a:hover::after {
  width: 100%;
} */
/* .slider {
  width: 1300px;
  max-width: 100vw;
  height: 728px;
  margin: auto;
  position: relative;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff3c78;
  color: #fff;
  border: none;
}
.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
}
.dots li.active {
  width: 30px;
} */
.header__background {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
}
.header {
  flex-basis: 50%;
  padding: 100px 50px;
}
p.title__sub::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 72px;
  bottom: -15px;
  background: #d00000;
}
.img__right header img {
  width: 100px;
  height: auto;
  position: absolute;
}
.text__left h1 {
  font-size: 70px;
  padding: 50px 0;
}
.text__left p {
  font-size: 20px;
  position: relative;
}
/* @keyframes showtop {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animationTop {
  animation: showtop 0.5s ease-in-out 1 forwards;
  opacity: 0;
}
.delay-1 {
  animation-delay: 0.2s !important;
}
.delay-2 {
  animation-delay: 0.6s !important;
}
.delay-3 {
  animation-delay: 1s !important;
}
.delay-4 {
  animation-delay: 1.4s !important;
}
.delay-5 {
  animation-delay: 1.8s !important;
}
.delay-6 {
  animation-delay: 2s !important;
} */
.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: #ff2222;
  list-style: none;
  text-decoration: none;
  margin-top: 25px;
  border-radius: 20px;
}

.btn-style-one:hover {
  background-color: black;
  color: #ffffff;
}
#welcome_shop,
#new_shop,
#sale_shop,
#blog_shop,
#ig_shop {
  width: 100%;
  z-index: 1;
  padding: 50px 100px;
  height: auto;
  display: block;
}
#welcome_shop h1,
#about_us h1 {
  font-size: 37px;
  padding-bottom: 5px;
  padding: 40px 0;
  font-weight: 800;
  letter-spacing: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
#welcome_shop h2::before,
#new_shop h2::before,
#sale_shop h2::before,
#blog_shop h2::before,
#ig_shop h2::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 72px;
  bottom: -15px;
  background: #d00000;
}
.news_stpp {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
}
.product_top p,
.product_item_blog p {
  font-size: 15px;
  margin: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.product_item {
  width: 285px;
  height: 500px;
  position: relative;
}
.product_item_blog {
  width: 360px;
  height: auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding: 10px 10px;
}
.product_item_blog h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product_item_blog img {
  width: 100%;
  height: 300px;
  z-index: 1;
  border-radius: 10px;
}
.product_item_blog:hover {
  transform: scale(1.05) translate(0);
  border-radius: 10px;
  box-shadow: 11px 11px 15px #aaaaaa, -11px -11px 15px #ffffff;
}
.product_item img {
  width: 100%;
  height: 395px;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.product_item img:hover {
  transform: scale(1.05) translate(0);
}
ul.products_trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

ul.products_trending li {
  flex-basis: 25%;
  padding-left: 10px;
  list-style: none;
}
/* h4.icon__new {
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(270deg);
  opacity: 0.7;
  font-size: 20px;
} */

#about_us {
  width: 100%;
  z-index: 1;
  padding: 50px 100px;
  height: auto;
  display: block;
}
#footer_sale {
  width: 100%;
  z-index: 1;
  padding: 10px 100px;
  height: auto;
  display: block;
}
.img__left__sale {
  background-image: url(/Image/pexels-yelena-odintsova-14579191.jpg);
  background-position: center;
  background-size: cover;
  height: 70%;
}
#sale_shop {
  height: 100vh;
}

.ig__shop {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}
.photo-gallery {
  display: flex;
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
